/*
CSS file for Content Editor
*/

html,
body {
    height: 100%;
}

.maincontainer {
    height: 90%;
}

.wrapper {
    height: 100%;
}

.at-canvas {
    border: 1px solid grey;
}

.at-dd-image-icon {
    width: 17px !important;
    height: 17px !important;
}

.at-menu-item {
    width: 52.52px !important;
    height: 42px !important;
}

.at-menu-image-item > .ui.image {
    width: 20px !important;
    height: 20px !important;
}

.at-context-menu {
    background-color: #dddddd;
}

.at-inverted {
    filter: invert(100%);
}

.at-center-container {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.ui.grid {
    min-height: 100%;
}

.canvas-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.grid-center-container {
    padding: 0px !important;
}

.masthead {
    min-height: 40px;
}