@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?r1yx5c');
  src:  url('fonts/icon.eot?r1yx5c#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?r1yx5c') format('truetype'),
    url('fonts/icon.woff?r1yx5c') format('woff'),
    url('fonts/icon.svg?r1yx5c#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-penstar:before {
  content: "\e900";
}
.icon-hexstar:before {
  content: "\e901";
}
.icon-hepstar:before {
  content: "\e902";
}
.icon-octstar:before {
  content: "\e903";
}
.icon-nonstar:before {
  content: "\e904";
}
.icon-decstar:before {
  content: "\e905";
}
.icon-activity:before {
  content: "\e906";
}
.icon-adjust:before {
  content: "\e907";
}
.icon-audio:before {
  content: "\e908";
}
.icon-bold:before {
  content: "\e909";
}
.icon-bringfront:before {
  content: "\e90a";
}
.icon-circle:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-collaborator:before {
  content: "\e90d";
}
.icon-dashline:before {
  content: "\e90e";
}
.icon-decagon:before {
  content: "\e90f";
}
.icon-dottetline:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-grid:before {
  content: "\e912";
}
.icon-heptagon:before {
  content: "\e913";
}
.icon-hexagon:before {
  content: "\e914";
}
.icon-hotspot:before {
  content: "\e915";
}
.icon-italics:before {
  content: "\e916";
}
.icon-launch:before {
  content: "\e917";
}
.icon-line:before {
  content: "\e918";
}
.icon-list:before {
  content: "\e919";
}
.icon-media:before {
  content: "\e91a";
}
.icon-newstage:before {
  content: "\e91b";
}
.icon-nonagon:before {
  content: "\e91c";
}
.icon-octagon:before {
  content: "\e91d";
}
.icon-pentagon:before {
  content: "\e91e";
}
.icon-play:before {
  content: "\e91f";
}
.icon-popup:before {
  content: "\e920";
}
.icon-preview:before {
  content: "\e921";
}
.icon-questions:before {
  content: "\e922";
}
.icon-quiz:before {
  content: "\e923";
}
.icon-readalong:before {
  content: "\e924";
}
.icon-record:before {
  content: "\e925";
}
.icon-roundedrect:before {
  content: "\e926";
}
.icon-rectangle:before {
  content: "\e927";
}
.icon-review:before {
  content: "\e928";
}
.icon-save:before {
  content: "\e929";
}
.icon-scribble:before {
  content: "\e92a";
}
.icon-sendback:before {
  content: "\e92b";
}
.icon-shape:before {
  content: "\e92c";
}
.icon-square:before {
  content: "\e92d";
}
.icon-textsize:before {
  content: "\e92e";
}
.icon-text:before {
  content: "\e92f";
}
.icon-triangle:before {
  content: "\e930";
}
.icon-underline:before {
  content: "\e931";
}
.icon-utlities:before {
  content: "\e932";
}
.icon-video:before {
  content: "\e933";
}
.icon-widget:before {
  content: "\e934";
}

