@font-face {
    font-family: 'NotoSansDevanagari';
    src: url('/app/styles/fonts/NotoSansDevanagari-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansTelugu';
    src: url('/app/styles/fonts/NotoSansTelugu-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansKannada';
    src: url('/app/styles/fonts/NotoSansKannada-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansOriya';
    src: url('/app/styles/fonts/NotoSansOriya-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansBengali';
    src: url('/app/styles/fonts/NotoSansBengali-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansMalayalam';
    src: url('/app/styles/fonts/NotoSansMalayalam-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('/app/styles/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansGurmukhi';
    src: url('/app/styles/fonts/NotoSansGurmukhi-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansTamil';
    src: url('/app/styles/fonts/NotoSansTamil-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('/app/styles/fonts/NotoSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansRegular';
    src: url('/app/styles/fonts/NotoSans-Regular_New.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSansGujarati';
    src: url('/app/styles/fonts/NotoSansGujarati-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}