{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10.24.1"
      },
      "useBuiltIns": "usage",
      "corejs": 3,
      "shippedProposals": true
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
  