{
  "extends": "standard",
  "globals": {
    "org": true,
    "CryptoJS": true,
    "_": true,
    "$": true,
    "angular": true,
    "ecEditor": true,
    "EkTelemetry": true,
    "EkstepEditor": true,
    "EkstepEditorAPI": true,
    "Class": true,
    "UUID": true,
    "WebFontConfig": true,
    "TextWYSIWYG": true,
    "ManifestGenerator": true,
    "WebFont": true,
    "fabric": true,
    "ServiceConstants": true,
    "async": true,
    "Fingerprint2": true,
    "describe": true,
    "jasmine": true,
    "afterAll": true,
    "beforeAll": true,
    "it": true,
    "spyOn": true,
    "expect": true,
    "xit": true,
    "EventBus": true,
    "beforeEach": true,
    "canvas": true,
    "Plugin": true,
    "createjs": true,
    "p": true,
    "basePlugin": true,
    "Mousetrap": true,
    "afterEach": true,
    "location": true,
    "X2JS": true
  },
  "rules": {
    "indent": [2, "tab"],
    "no-tabs": 0,
    "no-throw-literal": "error"
  }
}