app/preview
app/bower_components
/node_modules
/coverage
/coverage_framework
/bower_components
/semantic
semantic.json
/telemetry.log
/content-editor
content-editor.zip
/docs
telemetry.json
package-lock.json
