version: 2.1
jobs:
  build:
    working_directory: ~/content-editor
    docker:
      # - image: circleci/node:6.10-browsers
      - image: iliyan/docker-node-nvm
        environment:
           framework_version_number: $CIRCLE_BRANCH
           editorType: contentEditor
           editor_version_number: $CIRCLE_BRANCH
      
    steps:
      # - run: 
      #     name: Change Node
      #     command: 'source $NVM_DIR/nvm.sh && nvm install 6 && nvm use 6'
        
      - checkout:
          path: ~/content-editor
      
      # - restore_cache:
      #     key: ce-dependency-cache-{{ checksum "package.json" }}
      
      # - run:
      #     name: clone plugins
      #     command: |
      #       if [ -z $CIRCLE_PR_NUMBER ]; then
      #       target_branch=$CIRCLE_BRANCH
      #       git clone https://github.com/project-sunbird/sunbird-content-plugins.git plugins -b $target_branch
      #       else
      #       prdata=$(curl -X GET -u $GITHUB_USER_TOKEN:x-oauth-basic https://api.github.com/repos/project-sunbird/sunbird-content-editor/pulls/$CIRCLE_PR_NUMBER)
      #       target_branch=$(echo "${prdata}" | jq -r '.base.ref')
      #       git clone https://github.com/project-sunbird/sunbird-content-plugins.git plugins -b $target_branch
      #       fi
      
      - run: npm install -g bower@1.8.0 grunt-cli@1.2.0 gulp@3.9.1
      - run: npm install
      - run: cd app && bower cache clean --allow-root
      - run: cd app && bower prune -f --allow-root
      - run: cd app && bower install --force -V --allow-root
      - run: gulp packageCorePlugins
      # - run: npm run build-plugins
      - run: npm run build
      
      # - save_cache:
      #     key: ce-dependency-cache-{{ checksum "package.json" }}
      #     paths: ./node_modules
      
      - run: 
          name: test-with-coverage
          command: 'npm run test'
          
      - run: sudo mkdir -p /tmp/coverage && cp /home/circleci/content-editor/coverage_framework/lcov/HeadlessChrome\ 59.0.3071\ \(Linux\ 0.0.0\)/lcov.info /tmp/coverage

      - run:
          name: alter node version
          command: 'source $NVM_DIR/nvm.sh && nvm install 8 && nvm use 8 && node -v'
      
      - run: 
          name: Install sonar scanner
          command: 'source $NVM_DIR/nvm.sh && npm install -g sonarqube-scanner@2.5.0'

      - run: 
          name: Sonar scanner
          command: |
            sonar-scanner -Dsonar.projectKey=project-sunbird_sunbird-content-editor -Dsonar.organization=project-sunbird -Dsonar.sources=. -Dsonar.host.url=https://sonarcloud.io -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info -Dsonar.language=js
            
      - store_artifacts:
          path: /tmp/coverage
          destination: coverage
      
      
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build
