<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="/templates/ja_social_ii/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="styles/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/MyFontsWebfontsKit.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" type="text/css" href="styles/icomoon/style.css"/>
    <link rel="stylesheet" href="styles/content-editor.css" />
    <link rel="stylesheet" type="text/css" href="libs/ng-tags-input.css">
    <script src="libs/webfont.js"></script>
    <!-- endinject -->
</head>

<body class="ui fluid container">
    <!-- End of localhost only code-->
    <div id="thumbnailCanvasContainer" style="display: none;"></div>
    <div ng-app="editorApp" class="maincontainer" ng-strict-di>
        <div ng-controller="popupController as $ctrl" id="popuptemplate"></div>
        <div ng-controller="MainCtrl" id="editorContainer" class="wrapper">
            <div ng-show="showAppLoadScreen" class="ui active inverted dimmer">
                <div class="load-screen-container" ng-cloak>
                    <table class="ui very basic collapsing loading table" style="margin-left: auto;margin-right: auto;">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="message in appLoadMessage">
                                <td>
                                    <i ng-if="message.status && message.error" class="square outline big icon"></i>
                                    <i ng-if="message.status && !message.error" class="checkmark box big icon"></i>
                                    <div ng-if="!message.status" class="ui active small inline loader"></div>
                                </td>
                                <td>
                                    <h5 ng-bind="message.message"></h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="onLoadCustomMessage.show" ng-include="'templates/appLoadScreenMessage.html'"></div>
                    <div ng-show="migration.showPostMigrationMsg" class="migartion-message-container">
                        <div ng-show="migration.showMigrationSuccess" ng-include="'templates/migrationSuccessMsg.html'"></div>
                        <div ng-show="migration.showMigrationError" ng-include="'templates/migrationErrorMsg.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-repeat="header in headers" ng-include="header.templateURL"></div>
            <div class="ui grid toolbar" id="toolbar">
                <div class="ui nine wide column" style="padding-top:0!important;">
                    <div class="ui icon menu" style="height: 38px;  display: flex; align-items: center;">
                        <span class="tool" ng-repeat="menu in menus" ng-include="'templates/toolbar.html'"></span>
                        <span ng-repeat="menu in contextMenus" ng-if="menu.state === 'SHOW'" ng-include="'templates/toolbar.html'" class="at-context-menu tool"></span>
                    </div>
                </div>
                <div class="ui three wide column" style="padding-top:0!important;">
                    <div class="ui icon menu sidebar-menu" style="height: 38px; display: flex; align-items: center;">
                        <span ng-repeat="menu in sidebarMenus" ng-if="menu.state == 'SHOW'" ng-include="'templates/toolbar.html'" class="at-config-menu tool"></span>
                    </div>
                </div>
            </div>
            <div ng-include="'templates/deleteStageDialog.html'"></div>
            <div id="mainContainerGrid" class="ui grid bottom attached celled">
                <div class="row">
                    <div class="ui column scrollable-slides">
                        <div ng-repeat="stage in stages track by $index" ng-class="stage.isSelected ? 'thumbnail-container selected-slide' : 'thumbnail-container'">
                            <div class="ui centered card segment thumbnail">
                                <span class="stage-number">{{$index+1}}</span>
                                <div ng-class="stage.isSelected ? 'ui fluid image selected-slide-image' : 'ui fluid image'">
                                    <div class="ui blue ribbon label thumbnail-ribbon" ng-if="stage.isSelected">
                                        <i class="fa fa-trash" ng-click="fireEvent(stage.ondelete)" style="margin-right:15px; cursor: pointer;"></i>
                                        <i class="icon-duplicate link" ng-click="fireEvent(stage.duplicate)" style="cursor: pointer;"></i>
                                    </div>
                                    <img data-id="{{stage.id}}" ng-src="{{stage.thumbnail}}" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-drop="onStageDragDrop(dragEl, dropEl)" ng-click="fireEvent(stage.getOnClick())" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="superwrapper" class="ui seven wide column canvas-column">
                        <div id="canvas-wrapper" style="position:absolute; width:720px; height: 405px; left:0; right:0; margin:auto; box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);">
                            <canvas id="canvas" class="ui card centered raised" width="720px" height="405px" style="margin: 0; border-radius: 0px; background: none"></canvas>
                        </div>
                        <div id="geniecontrols" ng-if="showGenieControls"></div>
                        <div class="row" style="position:relative; top: 415px;">
                            <div ng-include="'templates/attachmentHolder.html'"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="ui form">
                                <textarea class="content-teacher-comments" rows="2" placeholder="Teacher Instructions..."></textarea>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="ui three wide right floated column sidebar-column">
                        <div class="sidebar-holder">
                            <div ng-repeat="sidebar in registeredCategories">
                                <div ng-show="(configCategory.selected == sidebar.id && sidebar.state == 'SHOW')">
                                    <div ng-include="sidebar.templateURL"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="objectPointer" class="hover-effect" style="display: none;"></div>
    <!-- message for unsupported screen start -->
    <div class="unsupported-resolution">
        <div class="message-container">
            <div class="ui icon negative message">
                <i class="fa fa-exclamation-triangle"></i>
                <div class="content">
                    <div class="header">
                        Unsupported resolution
                    </div>
                    <p id="ngdialog1-aria-describedby" tabindex="-1">
                        Resolution below 1024px is not supported, please switch to a higher resolution display.
                        <!-- <div class="ui primary button">
                            Save
                        </div> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- message for unsupported screen end -->
    <!-- inject:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/async/dist/async.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/fabric/dist/fabric.min.js"></script>
    <script src="libs/alignment-guidelines.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/x2js/index.js"></script>
    <script src="bower_components/eventbus/index.js"></script>
    <script src="bower_components/uuid/index.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ngSafeApply/index.js"></script>
    <!-- <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.core.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.directive.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.common.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.core.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.cssLoader.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.jsLoader.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.templatesLoader.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.polyfill.ie8.js"></script> -->
    <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="bower_components/fingerprintjs2/dist/fingerprint2.min.js"></script>
    <script type="text/javascript" src="libs/fontfaceobserver.min.js"></script>
    <script src="scripts/dev/localhost-ce.js"></script>
    <script src="libs/semantic.min.js"></script>
    <script src="libs/mousetrap.min.js"></script>
    <script src="libs/ng-tags-input.js"></script>
    <script src="libs/telemetry-lib-v3.min.js"></script>
    <!-- Load Framework -->
    <script src="scripts/framework/libs/ES5Polyfill.js"></script>
    <script src="scripts/framework/class.js"></script>
    <script src="scripts/framework/bootstrap-framework.js"></script>
    <script src="scripts/framework/manager/resource-manager.js"></script>
    <script src="scripts/framework/manager/event-manager.js"></script>
    <script src="scripts/framework/manager/plugin-manager.js"></script>
    <script src="scripts/framework/manager/keyboard-manager.js"></script>
    <!-- Load Services -->
    <script src="scripts/framework/service/iservice.js"></script>
    <script src="scripts/framework/service/content-service.js"></script>
    <script src="scripts/framework/service/assessment-service.js"></script>
    <script src="scripts/framework/service/asset-service.js"></script>
    <script src="scripts/framework/service/meta-service.js"></script>
    <script src="scripts/framework/service/language-service.js"></script>
    <script src="scripts/framework/service/search-service.js"></script>
    <script src="scripts/framework/service/textbook-service.js"></script>
    <script src="scripts/framework/service/lock-service.js"></script>
    <script src="scripts/framework/service/user-service.js"></script>
    <script src="scripts/framework/repo/irepo.js"></script>
    <script src="scripts/framework/repo/published-repo.js"></script>
    <!-- Load Content Editor -->
    <script src="scripts/contenteditor/bootstrap-editor.js"></script>
    <script src="scripts/contenteditor/ce-config.js"></script>
    <script src="scripts/contenteditor/content-editor.js"></script>
    <script src="scripts/contenteditor/content-editor-api.js"></script>
    <script src="scripts/contenteditor/base-plugin.js"></script>
    <script src="scripts/contenteditor/manager/stage-manager.js"></script>
    <script src="scripts/contenteditor/manager/toolbar-manager.js"></script>
    <script src="scripts/contenteditor/manager/media-manager.js"></script>
    <script src="scripts/contenteditor/manager/sidebar-manager.js"></script>
    <script src="scripts/contenteditor/manager/header-manager.js"></script>
    <script src="scripts/contenteditor/service/popup-service.js"></script>
    <script src="scripts/contenteditor/migration/1_migration-task.js"></script>
    <script src="scripts/contenteditor/migration/mediamigration-task.js"></script>
    <script src="scripts/contenteditor/migration/stageordermigration-task.js"></script>
    <script src="scripts/contenteditor/migration/basestagemigration-task.js"></script>
    <script src="scripts/contenteditor/migration/imagemigration-task.js"></script>
    <script src="scripts/contenteditor/migration/scribblemigration-task.js"></script>
    <script src="scripts/contenteditor/migration/readalongmigration-task.js"></script>
    <script src="scripts/contenteditor/migration/assessmentmigration-task.js"></script>
    <script src="scripts/contenteditor/migration/eventsmigration-task.js"></script>
    <script src="scripts/contenteditor/migration/settagmigration-task.js"></script>
    <script src="scripts/contenteditor/migration/textmigration-task.js"></script>
    <script src="scripts/contenteditor/service/telemetry-service.js"></script>
    <script src="scripts/contenteditor/service/manifest-generator.js"></script>
    <script src="scripts/contenteditor/dispatcher/idispatcher.js"></script>
    <script src="scripts/contenteditor/dispatcher/console-dispatcher.js"></script>
    <script src="scripts/contenteditor/dispatcher/local-dispatcher.js"></script>
    <script src="scripts/contenteditor/dispatcher/piwik-dispatcher.js"></script>
    <script src="scripts/contenteditor/md5.js"></script>
    <!-- Load Angular Controllers -->
    <script src="scripts/angular/controller/main.js"></script>
    <script src="scripts/angular/controller/popup-controller.js"></script>
    <script src="scripts/angular/directive/draggable-directive.js"></script>
    <script src="scripts/angular/directive/droppable-directive.js"></script>
    <script src="scripts/angular/directive/template-compiler-directive.js"></script>
    <!-- endinject -->
</body>

</html>