<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="styles/semantic.min.css">
    <link rel="stylesheet" href="styles/content-editor.css" />
    <link rel="stylesheet" type="text/css" href="styles/MyFontsWebfontsKit.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" type="text/css" href="styles/iconfont.css">
    <!-- endinject -->
</head>

<body class="ui fluid container">
    <!-- End of localhost only code-->
    <div ng-app="editorApp" class="maincontainer" ng-strict-di>
        <div ng-controller="MainCtrl" id="editorContainer" class="wrapper">
            <div ng-show="showAppLoadScreen" class="ui active inverted dimmer">
                <div class="ui small text loader" style="position: absolute; top: 20%">Loading</div>
                <div class="load-screen-container">
                    <div class="ui middle aligned list load-screen-list">
                        <div class="item" ng-repeat="message in appLoadMessage">
                            <i ng-class="message.status ? 'checkmark box big black icon' : 'square outline big grey icon'"></i>
                            <div class="content">
                                <div class="header">
                                    <h3 ng-bind="message.message"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="migration.showPostMigrationMsg" class="migartion-message-container">
                        <div ng-show="migration.showMigrationSuccess" ng-include="'templates/migrationSuccessMsg.html'"></div>
                        <div ng-show="migration.showMigrationError" ng-include="'templates/migrationErrorMsg.html'"></div>
                    </div>
                </div>
            </div>
            <div class="ui masthead vertical segment content-masterhead">
                <div class="ui grid">
                    <div class="one column" style="width:auto;padding-right: 6px;">
                        <img class="ui mini image content-logo" ng-src="{{contentDetails.contentImage}}">
                    </div>
                    <div class="three wide column" style="padding-left: 0px">
                        <div class="ui canvas" style="margin-top: 6px; ">
                            <label class="content-title">{{contentDetails.contentTitle}}</label>
                            <label class="content-type-label">{{contentDetails.contentType}}</label>
                            <div ng-include="'templates/editContentMetaDialog.html'" style="display: inline-block; "></div>
                            <a class="btn at-btn at-btn-ok" ng-click="editContentMeta()">
                                <i class="edit icon link"></i>
                            </a>
                        </div>
                        <div class="row">
                            <label class="content-concept-label">{{contentDetails.contentConcepts}}</label>
                        </div>
                    </div>
                    <div class="right floated four wide column bottom aligned" style="padding-right: 20px;">
                        <div id="userprofile" ng-show="userDetails.id" class="usercontext">
                            <div class="browse item at username">
                                {{userDetails.name}}
                                <i class="dropdown icon"></i>
                            </div>
                            <div class="ui fluid popup bottom right transition hidden user-details-container">
                                <div class="ui divided items">
                                    <div class="item">
                                        <div class="ui tiny circular image user-avtar">
                                            <img src="{{userDetails.avtar}}">
                                        </div>
                                        <div class="middle aligned content" style="text-align: left;">
                                            <span class="header">{{userDetails.name}}</span>
                                            <div class="meta">
                                                <span>{{userDetails.email}}</span>
                                            </div>
                                            <div class="extra">
                                                <a class="ui tiny button " href="{{userDetails.logout}}">logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="ui tiny icon button disabled right floated">
                            <i class="icon-close icon"></i> Close
                        </button> -->
                        <div ng-include="'templates/saveSuccessMessage.html'"></div>
                        <div ng-include="'templates/saveErrorMessage.html'"></div>
                        <button ng-class="saveBtnEnabled ? 'ui tiny icon button right floated primary' : 'ui tiny icon button right floated disabled'" ng-click="saveContent()" ng-disabled="!contentId" style="margin-left: 5px;">
                            <i class="icon-save icon"></i> Save
                        </button>
                        <div class="ui tiny buttons right floated primary">
                            <div class="ui button" ng-click="previewContent();">
                            <i class="icon-preview icon"></i> Preview</div>
                                <div class="ui floating dropdown icon button">
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" ng-click="previewContent('start');">preview from beginning</div>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="ui tiny icon button disabled right floated">
                            <i class="icon-download icon "></i> Download
                        </button> -->
                    </div>
                </div>
            </div>
            <div class="ui icon menu" style="margin-bottom: 0; margin-top: 0;margin-left: 30px; border:none;">
                <span ng-repeat="menu in menus" ng-include="'templates/toolbar.html'">
                </span>
                <span ng-repeat="menu in contextMenus" ng-if="menu.state === 'SHOW'" ng-include="'templates/toolbar.html'" class="at-context-menu"></span>
            </div>
            <div ng-include="'templates/deleteStageDialog.html'"></div>
            <div id="mainContainerGrid" class="ui grid bottom attached celled" style="margin: 0;background: #EEEEEE;">
                <div class="row">
                    <div class="ui two wide column scrollable-slides">
                        <div ng-repeat="stage in stages track by $index" class="thumbnail-container" style="margin-bottom: 20px">
                            <div class="ui centered raised card segment thumbnail" ng-click="fireEvent(stage.onclick)">
                                <span class="stage-number">{{$index+1}}</span>
                                <div class="ui fluid image">
                                    <div class="ui blue ribbon label thumbnail-ribbon" ng-if="stage.isSelected">
                                        <i class="trash outline icon link" ng-click="fireEvent(stage.ondelete)"></i> <i class="clone icon link" ng-click="fireEvent(stage.duplicate)"></i>
                                    </div>
                                    <img data-id="{{stage.id}}" src="{{stage.thumbnail}}" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-drop="onStageDragDrop(dragEl, dropEl)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui seven wide column">
                        <div id="canvas-wrapper">
                            <canvas id="canvas" class="ui card centered raised" width="720px" height="405px" style="margin: 0; border-radius: 0px; background: none"></canvas>
                        </div>
                        <div id="geniecontrols" ng-if="showGenieControls">
                            <img id="geniecontrolsimage" class="ui card centered raised" src="images/geniecontrols.png">
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div ng-include="'templates/attachmentHolder.html'"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="ui form">
                                <textarea class="content-teacher-comments" rows="2" placeholder="Teacher Instructions..."></textarea>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="ui three wide column" style="background-color: #EEEEEE;">
                        <span ng-include="'templates/sidebar.html'"></span>
                    </div>
                </div>
            </div>
            <div id="toolbarOptions" class="hide toolbarOptions">
                <div class="ui horizontal list">
                    <div class="item config-toolbar" ng-repeat="toolbar in contextToolbar" ng-click="fireEvent(toolbar.onclick)" ng-show="toolbar.show">
                        <i class="large {{toolbar.iconClass}}"></i>
                    </div>
                </div>
                <!-- 
                <div class="ui mini compact icon menu configmenu">
                    <a class="item" ng-repeat="toolbar in contextToolbar" ng-click="fireEvent(toolbar.onclick)" ng-show="toolbar.show" style="padding: 6px;">
                        <i class="large {{toolbar.iconClass}}"></i>
                    </a>
                </div>
                -->
            </div>
            <div class="ui raised card" id="plugin-toolbar-container" ng-show="showConfigContainer" ng-style="configStyle">
                <div class="content at config properties">
                    <div class="ui header config-header">{{configHeaderText}}
                    </div>
                    <div ng-click="showConfigContainer = false;" class="config-close-icon" style="color:'white';">X</div>
                </div>
                <!-- config-close-icon -->
                <div class="content">
                    <div ng-show="configHeaderText === 'Configuration'" class="config-toolbar-content">
                        <span ng-repeat="config in pluginConfig" ng-include="'templates/config.html'">
                    </span>
                    </div>
                    <div id="pluginEventsContainer" ng-show="configHeaderText === 'Actions'" class="action-config-container">
                        <span ng-include="'templates/events.html'"></span>
                    </div>
                    <div id="pluginPropertiesContainer" ng-show="configHeaderText === 'Properties'" class="config-toolbar-content">
                        <span ng-include="'templates/properties.html'"></span>
                    </div>
                    <div id="pluginHelpContent" class="ui message config-toolbar-content" ng-show="configHeaderText === 'Help'">
                    </div>
                </div>
            </div>
            <div ng-controller="popupController as $ctrl" id="popuptemplate"></div>
        </div>
    </div>
    <div id="objectPointer" style="display: none;border: 1px dashed black;"></div>
    <!-- inject:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/async/dist/async.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/fabric/dist/fabric.min.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/x2js/index.js"></script>
    <script src="bower_components/eventbus/index.js"></script>
    <script src="bower_components/uuid/index.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.core.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.directive.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.common.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.core.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.cssLoader.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.jsLoader.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.loaders.templatesLoader.js"></script>
    <script src="bower_components/oclazyload/dist/modules/ocLazyLoad.polyfill.ie8.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="scripts/dev/localhost-ce.js"></script>
    <script src="libs/semantic.min.js"></script>
    <script src="scripts/main/class.js"></script>
    <script src="scripts/main/ekstep-editor.js"></script>
    <script src="scripts/main/base-plugin.js"></script>
    <script src="scripts/manager/event-manager.js"></script>
    <script src="scripts/manager/plugin-manager.js"></script>
    <script src="scripts/manager/stage-manager.js"></script>
    <script src="scripts/manager/toolbar-manager.js"></script>
    <script src="scripts/manager/media-manager.js"></script>
    <script src="scripts/main/ekstep-editor-api.js"></script>
    <script src="scripts/migration/1_migration-task.js"></script>
    <script src="scripts/migration/stageordermigration-task.js"></script>
    <script src="scripts/migration/basestagemigration-task.js"></script>
    <script src="scripts/migration/imagemigration-task.js"></script>
    <script src="scripts/migration/scribblemigration-task.js"></script>
    <script src="scripts/migration/readalongmigration-task.js"></script>
    <script src="scripts/migration/assessmentmigration-task.js"></script>
    <script src="scripts/migration/eventsmigration-task.js"></script>
    <script src="scripts/migration/settagmigration-task.js"></script>
    <script src="scripts/service/iservice.js"></script>
    <script src="scripts/service/content-service.js"></script>
    <script src="scripts/service/popup-service.js"></script>
    <script src="scripts/angular/controller/main.js"></script>
    <script src="scripts/angular/controller/popup-controller.js"></script>
    <script src="scripts/angular/directive/draggable-directive.js"></script>
    <script src="scripts/angular/directive/droppable-directive.js"></script>
    <script src="scripts/service/assessment-service.js"></script>
    <script src="scripts/service/asset-service.js"></script>
    <script src="scripts/service/concept-service.js"></script>
    <!-- endinject -->
</body>

</html>
