<div ng-switch on="config.dataType">
    <div title="{{config.description}}" data-original-title="{{config.description}}" ng-switch-when="colorpicker">
        <label ng-if="config.title">{{config.title}}</label>
        <div class="jscolor" style="width:20px;height:20px; min-width: 20px; min-height: 20px;" id="{{config.propertyName}}" ng-click="fireEvent({'id':'colorpicker:show', 'data': {}})"></div>
    </div>
    <div title="{{config.description}}" data-original-title="{{config.description}}" ng-switch-when="input">
        <label ng-if="config.title">{{config.title}}</label>
        <input type="{{config.valueType || text}}" ng-model="configData[config.propertyName]" />
    </div>
    <div title="{{config.description}}" data-original-title="{{config.description}}" ng-switch-when="select">
        <label ng-if="config.title">{{config.title}}</label>
        <select ng-model="configData[config.propertyName]" ng-options="val for val in config.range"></select>
    </div>
    <div class="btn-group" ng-switch-when="group">
        <button type="button" class="btn config-icon-btn {{configData[dd.propertyName] ? 'btn-primary': ''}}" ng-repeat="dd in config.config" ng-click="configData[dd.propertyName] = !configData[dd.propertyName]">
            <div ng-switch on="dd.dataType">
                <span ng-if="dd.text" ng-switch-when="text" class="{{dd.textClass}}" style="{{dd.textStyle}}">{{dd.text}}</span>
                <i class="{{dd.iconClass}} " ng-if="dd.iconClass" style="{{dd.iconStyle}}" ng-switch-when="icon"></i>
            </div>
        </button>
    </div>
</div>
