<h4 class="ui header">There might be some unwanted changes in the content due to migration,
                        <br/> please check the preview before saving.
                        </h4>
<button class="ui  button secondary" ng-click="previewContent();migration.showPostMigrationMsg =false; closeLoadScreen(true);">Launch preview</button>
<button class="ui  button primary" ng-click="saveContent();migration.showPostMigrationMsg=false; closeLoadScreen(true);">Save</button>
<button class="ui button black" ng-click="closeLoadScreen(true);migration.showPostMigrationMsg = false;">Cancel</button>
