<div style="margin: 18%;border: 1px solid #ddd;padding: 20px;border-radius: 5px;background-color: #EEEEEE;height: 170px;">
    <div style="padding: 3%;text-align: left;">
        <h4>There might be some unwanted changes in the content due to migration,
                        <br/> please check the preview before saving.
                        </h4>
        <button class="ui  button right floated secondary" ng-click="previewContent();migration.showPostMigrationMsg =false;">Launch preview</button>
        <button class="ui  button right floated primary" ng-click="saveContent();migration.showPostMigrationMsg=false;">Save</button>
        <button class="ui button right floated black" ng-click="migration.showPostMigrationMsg = false;">Cancel</button>
    </div>
</div>
