<h5 class="ui header inverted migration-message">There might be some unwanted changes in the content due to migration,
                        <br/> please check the preview before saving.
                        </h5>
<div class="actions">
    <button class="ui green ok inverted button right floated migartion-positive-btn" ng-click="previewContent();migration.showPostMigrationMsg =false; closeLoadScreen(true);"><i class="unhide icon"></i>Launch preview</button>
    <button class="ui red basic cancel inverted button right floated" ng-click="closeLoadScreen(true);migration.showPostMigrationMsg = false;"> <i class="remove icon"></i>Cancel</button>
</div>
