<div style="margin: 18%;border: 1px solid #ddd;padding: 20px;border-radius: 5px;background-color: #EEEEEE;height: 190px;">
    <div style="padding: 3%;text-align: left;">
        <h4>Sorry, migration couldn't be completed successfully.
                            <br/>We recommend closing this content without saving to avoid any unwanted loss of content.
                        </h4>
        <button class="ui  button right floated primary" ng-click="showPostMigrationMsg=false;">Cancel migration and Revert to original</button>
        <button class="ui  button right floated red" ng-click="showPostMigrationMsg=false;">
            <i class="help circle medium icon"></i>Report an issue</button>
    </div>
</div>
