<h5 class="ui header inverted migration-message">
  Sorry, migration couldn't be completed successfully.
  <br/>We recommend closing this content without saving to avoid any unwanted loss of content.
</h5>
<div class="actions">
    <a class="ui green ok inverted button right floated migartion-positive-btn" ng-href="{{cancelMigrationAndRevertLink}}" onclick="location.reload();"><i class="remove icon"></i>Cancel migration and Revert to original</a>
    <a class="ui inverted button red right floated" ng-href="{{reportIssueLink}}" onclick="location.reload();"><i class="help circle medium icon"></i>Report an issue</a>
</div>
