<div class="ui divider"></div>
<div id="pluginPropertyContainer" class="ui styled fluid accordion">
    <div class="title" ng-click="showConfigProperties = !showConfigProperties" ng-class="showConfigProperties ? 'active': '' ">
        <i class="dropdown icon"></i> View Properties
    </div>
    <div class="content {{showConfigProperties ? 'active': ''}} ">
        <table class="ui table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(propKey, propValue) in pluginProperties">
                    <td>{{propKey}}</td>
                    <td>{{propValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>