<div class="sidebar-holder" ng-controller="sidebarController">
    <div ng-repeat="sidebar in registeredCategories">
        <div ng-show="configCategory.selected == sidebar.category">
            <div ng-include="sidebar.template"></div>
        </div>
    </div>
</div>
<div class="sidebar-reportissue " style="position: fixed; right: 0; bottom: 0;width: 100%;margin-bottom: 10px; ">
    <a class="ui basic small button " ng-click="fireSidebarTelemetry({id: 'reportIssue'}, 'reportIssueButton') " ng-href="{{reportIssueLink}} " target="_blank " style="position: absolute; bottom:0; right: 30px "><i class="help circle medium icon "></i>Report an issue</a>
</div>
<script type="text/javascript">
var newheight = $(window).innerHeight() - 212;
$('.sidebar-holder').css("height", newheight + "px");
</script>
