<style type="text/css">
.sidebarContent {
    height: 450px;
    width: 100%;
    overflow-y: auto;
    margin: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    background: none !important;
    box-shadow: none !important;
}

.sidebarHeadTab {
    box-shadow: none !important;
    border-bottom: 1px solid #ccc !important;
    ;
    border-radius: 0px !important;
}

.sidebarHeadTab .item {
    padding: 0px !important;
}

.sidebarHeadTab .item.active {
    background: #2185d0 !important;
    color: #FFFFFF !important;
    border-radius: 0px !important;
}

.sidebarHeadTab .item,
.sidebarContent label {
    font-family: sans-serif;
}
</style>
<div ng-show="showSettingContainer">
    <div class="ui mini compact item menu sidebarConfig sidebarHeadTab" ng-class="stageConfigStatus ? 'two' : 'three' ">
        <a class="item active" id="settingsTab" data-tab="settings" ng-click="fireEvent({id: 'config:show'}); fireSidebarTelemetry({id: 'customise'}, 'config')"><i class="setting icon"></i> Customise </a>
        <a class="item" ng-show="!stageConfigStatus" data-tab="actions" ng-click="fireEvent({id: 'config:actions'}); fireSidebarTelemetry({id: 'actions'}, 'config')"><i class="tasks icon"></i> Actions </a>
        <a class="item" data-tab="info" ng-click="fireEvent({ id: 'config:properties'}); fireSidebarTelemetry({id: 'properties'}, 'config')"><i class="info icon"></i> Properties </a>
    </div>
    <div class="ui active tab segment sidebarContent" id="settingsContent" data-tab="settings">
        <span ng-repeat="config in pluginConfig" ng-show="!stageConfigStatus" ng-include="'templates/config.html'"></span>
        <div class="ui padded grid" ng-show="stageConfigStatus">
            <div class=" row">
                <div class="ui toggle checkbox">
                    <input type="checkbox" ng-model="showGenieControls" ng-click="toggleGenieControl(); fireSidebarTelemetry({id: 'genieControl'}, 'config')">
                    <label>Show Genie Controls</label>
                </div>
            </div>
            <div class="row">
                <div class="ui styled accordion">
                    <div class="title" ng-click="showInstructions = !showInstructions" ng-class="showInstructions ? 'active': '' ">
                        <i class="dropdown icon"></i>Teacher Instructions
                    </div>
                    <div class="content {{showInstructions ? 'active': ''}}">
                        <div class="ui form">
                            <div class="field">
                                <label></label>
                                <textarea rows="6" ng-maxlength="1000" ng-model="model.teacherInstructions" ng-keyup="updateTeacherInstructionsOnKeyPress()" ng-click="fireSidebarTelemetry({id: 'teacherInstructions'}, 'config')">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="ui basic small button" ng-click="fireSidebarTelemetry({id: 'reportIssue'}, 'reportIssueButton')" ng-href="{{reportIssueLink}}" target="_blank"><i class="help circle medium icon"></i>Report an issue</a>
            </div>
        </div>
    </div>
    <div class="ui tab segment sidebarContent" data-tab="actions" ng-show="!stageConfigStatus">
        <span ng-include="'templates/events.html'"></span>
    </div>
    <div class="ui tab segment sidebarContent" data-tab="info" style="padding: 10px !important">
        <span ng-include="'templates/properties.html'"></span>
    </div>
</div>
<div ng-show="showHelpContainer">
    <div class="ui mini compact one item menu sidebarHelp sidebarHeadTab">
        <a class="item active" id="helpTab" data-tab="help" ng-click="fireEvent({ id: 'config:help'}); fireSidebarTelemetry(menu, 'config')">
            <i class="question icon"></i>Help
        </a>
        <!-- <a class="blue item" data-tab="feedback"><i class="talk icon"></i>Feedback </a> -->
    </div>
    <div class="ui active tab segment sidebarContent" id="helpContent" data-tab="help" style="padding: 10px !important">
        <div id="pluginHelpContent" class="ui message"></div>
    </div>
    <!-- <div class="ui tab segment" data-tab="feedback"></div> -->
</div>
<div ng-show="showCommentsContainer">
    <div class="row">
        <div class="todoHolder ui message" style="overflow:auto;max-height:500px;">
            <div class="pageLevelTodos">
                <div class="content {{showTodo ? 'active': ''}}">
                    <div class="description">
                        <div id="pageLevelTodos"></div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="pageLevelResolvedTodos">
                <div class="content {{showTodo ? 'active': ''}}">
                    <div class="description">
                       <div id="pageLevelResolvedTodos"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('.sidebarConfig .item, .sidebarHelp .item').tab({
    history: false
});
</script>
